<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
            background-color: lightyellow;
        }
    .error{
            background-color: white;
            margin-left: 80px;
            margin-top: 100px;
            padding-left: 30px;
            padding-top: 20px;
            height: 320px;
            width: 240px;
            border-radius: 25px;
        }
    p{
        font-size: 30px;
        margin-left: 30px;
        margin-top: 90px;

    }
    .return{
        font-size: 20px;
        margin-left: 50px;
    }
</style>
<body>
    <div class="error">
           <p>密码错误</p>
           <a class=return href="{{ url_for('login_html') }}">返回登陆</a>
    </div>


</body>
</html>